
<!-- GENERAL ENQUIRIES -->

<table class="srvcs_form">
  <tr>
    <td class="label">First Name</td>
    <td class="field"><span class="required"></span>[text* first-name]</td>
  </tr>
  <tr>
    <td class="label">Last Name</td>
    <td class="field"><span class="required"></span>[text* last-name]</td>
  </tr>
  <tr>
    <td class="label">Email Address</td>
    <td class="field"><span class="required"></span>[email* email-address]</td>
  </tr>
  <tr>
    <td class="label">Phone Number</td>
    <td class="field"><span class="required"></span>[text* phone-number]</td>
  </tr>
  <tr>
    <td class="label message_label">Message</td>
    <td class="field message_field" rowspan="2"><span class="required"></span>[textarea* your-message]</td>
  </tr>
  <tr>
    <td class="label"></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td class="form_submit">[submit "Send Form"]</td>
  </tr>
</table>

<!-- PROJECT MANAGEMENT -->

<table class="srvcs_form">
  <tr>
    <td class="label">First Name</td>
    <td class="field"><span class="required"></span>[text* first-name]</td>
  </tr>
  <tr>
    <td class="label">Last Name</td>
    <td class="field"><span class="required"></span>[text* last-name]</td>
  </tr>
  <tr>
    <td class="label">Email Address</td>
    <td class="field"><span class="required"></span>[email* email-address]</td>
  </tr>
  <tr>
    <td class="label">Store Name</td>
    <td class="field"><span class="required"></span>[text* store-name]</td>
  </tr>
  <tr>
    <td class="label">Unit Number / Building Name and Level</td>
    <td class="field"><span class="not_required"></span>[text unit-number-bldg-name]</td>
  </tr>
  <tr>
    <td class="label">Street Address</td>
    <td class="field"><span class="required"></span>[text* street-address]</td>
  </tr>
  <tr>
    <td class="label">City/Suburb</td>
    <td class="field"><span class="required"></span>[text* city-suburb]</td>
  </tr>
  <tr>
    <td class="label">State</td>
    <td class="field"><span class="required"></span>[select* state "NSW" "ACT" "VIC" "QLD" "SA" "WA" "NT" "TAS"]</td>
  </tr>
  <tr>
    <td class="label">Postcode</td>
    <td class="field"><span class="required"></span>[text* postcode]</td>
  </tr>
  <tr>
  <tr>
    <td class="label">Attach Purchase Order/Job number</td>
    <td class="file_upload_field"><span class="not_required"></span>[file attach-purchase-order]</td>
  </tr>
  <tr>
    <td class="label message_label">Message</td>
    <td class="field message_field" rowspan="2"><span class="not_required"></span>[textarea your-message]</td>
  </tr>
  <tr>
    <td class="label_indent">Please let us know your requirements, preferred date, booking time etc and we will contact you shortly.</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td class="form_submit">[submit "Send Form"]</td>
  </tr>
</table>


<!-- RETAIL FITOUT -->


<table class="srvcs_form">
  <tr>
    <td class="label">First Name</td>
    <td class="field"><span class="required"></span>[text* first-name]</td>
  </tr>
  <tr>
    <td class="label">Last Name</td>
    <td class="field"><span class="required"></span>[text* last-name]</td>
  </tr>
  <tr>
    <td class="label">Email Address</td>
    <td class="field"><span class="required"></span>[email* email-address]</td>
  </tr>
  <tr>
    <td class="label">Phone Number</td>
    <td class="field"><span class="required"></span>[text* phone-number]</td>
  </tr>
  <tr>
    <td class="label">Company Name</td>
    <td class="field"><span class="required"></span>[text* company-name]</td>
  </tr>
  <tr>
    <td class="label">Unit Number / Building Name and Level</td>
    <td class="field"><span class="not_required"></span>[text unit-number-bldg-name]</td>
  </tr>
  <tr>
    <td class="label">Street Address</td>
    <td class="field"><span class="required"></span>[text* street-address]</td>
  </tr>
  <tr>
    <td class="label">City/Suburb</td>
    <td class="field"><span class="required"></span>[text* city-suburb]</td>
  </tr>
  <tr>
    <td class="label">State</td>
    <td class="field"><span class="required"></span>[select* state "NSW" "ACT" "VIC" "QLD" "SA" "WA" "NT" "TAS"]</td>
  </tr>
  <tr>
    <td class="label">Postcode</td>
    <td class="field"><span class="required"></span>[text* postcode]</td>
  </tr>
  <tr>
  <tr>
    <td class="label">Attach Purchase Order/Job number</td>
    <td class="file_upload_field"><span class="not_required"></span>[file attach-purchase-order]</td>
  </tr>
  <tr>
    <td class="label message_label">Message</td>
    <td class="field message_field" rowspan="2"><span class="not_required"></span>[textarea your-message]</td>
  </tr>
  <tr>
    <td class="label_indent">Please let us know your requirements, preferred date, booking time etc and we will contact you shortly.</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td class="form_submit">[submit "Send Form"]</td>
  </tr>
</table>


<!-- STORE MAINTENANCE -->


<table class="srvcs_form">
  <tr>
    <td class="label">First Name</td>
    <td class="field"><span class="required"></span>[text* first-name]</td>
  </tr>
  <tr>
    <td class="label">Last Name</td>
    <td class="field"><span class="required"></span>[text* last-name]</td>
  </tr>
  <tr>
    <td class="label">Email Address</td>
    <td class="field"><span class="required"></span>[email* email-address]</td>
  </tr>
  <tr>
    <td class="label">Phone Number</td>
    <td class="field"><span class="required"></span>[text* phone-number]</td>
  </tr>
  <tr>
    <td class="label">Company Name</td>
    <td class="field"><span class="required"></span>[text* company-name]</td>
  </tr>
  <tr>
    <td class="label">Unit Number / Building Name and Level</td>
    <td class="field"><span class="not_required"></span>[text unit-number-bldg-name]</td>
  </tr>
  <tr>
    <td class="label">Street Address</td>
    <td class="field"><span class="required"></span>[text* street-address]</td>
  </tr>
  <tr>
    <td class="label">City/Suburb</td>
    <td class="field"><span class="required"></span>[text* city-suburb]</td>
  </tr>
  <tr>
    <td class="label">State</td>
    <td class="field"><span class="required"></span>[select* state "NSW" "ACT" "VIC" "QLD" "SA" "WA" "NT" "TAS"]</td>
  </tr>
  <tr>
    <td class="label">Postcode</td>
    <td class="field"><span class="required"></span>[text* postcode]</td>
  </tr>
  <tr>
  <tr>
    <td class="label">Attach Purchase Order/Job number</td>
    <td class="file_upload_field"><span class="not_required"></span>[file attach-purchase-order]</td>
  </tr>
  <tr>
    <td class="label message_label">Message</td>
    <td class="field message_field" rowspan="2"><span class="not_required"></span>[textarea your-message]</td>
  </tr>
  <tr>
    <td class="label_indent">Please let us know your requirements, preferred date, booking time etc and we will contact you shortly.</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td class="form_submit">[submit "Send Form"]</td>
  </tr>
</table>

<!-- OFFICE FITOUT -->

<table class="srvcs_form">
  <tr>
    <td class="label">First Name</td>
    <td class="field"><span class="required"></span>[text* first-name]</td>
  </tr>
  <tr>
    <td class="label">Last Name</td>
    <td class="field"><span class="required"></span>[text* last-name]</td>
  </tr>
  <tr>
    <td class="label">Email Address</td>
    <td class="field"><span class="required"></span>[email* email-address]</td>
  </tr>
  <tr>
    <td class="label">Phone Number</td>
    <td class="field"><span class="required"></span>[text* phone-number]</td>
  </tr>
  <tr>
    <td class="label">Company Name</td>
    <td class="field"><span class="required"></span>[text* company-name]</td>
  </tr>
  <tr>
    <td class="label">Unit Number / Building Name and Level</td>
    <td class="field"><span class="not_required"></span>[text unit-number-bldg-name]</td>
  </tr>
  <tr>
    <td class="label">Street Address</td>
    <td class="field"><span class="required"></span>[text* street-address]</td>
  </tr>
  <tr>
    <td class="label">City/Suburb</td>
    <td class="field"><span class="required"></span>[text* city-suburb]</td>
  </tr>
  <tr>
    <td class="label">State</td>
    <td class="field"><span class="required"></span>[select* state "NSW" "ACT" "VIC" "QLD" "SA" "WA" "NT" "TAS"]</td>
  </tr>
  <tr>
    <td class="label">Postcode</td>
    <td class="field"><span class="required"></span>[text* postcode]</td>
  </tr>
  <tr>
  <tr>
    <td class="label">Attach Purchase Order/Job number</td>
    <td class="file_upload_field"><span class="not_required"></span>[file attach-purchase-order]</td>
  </tr>
  <tr>
    <td class="label message_label">Message</td>
    <td class="field message_field" rowspan="2"><span class="not_required"></span>[textarea your-message]</td>
  </tr>
  <tr>
    <td class="label_indent">Please let us know your requirements, preferred date, booking time etc and we will contact you shortly.</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td class="form_submit">[submit "Send Form"]</td>
  </tr>
</table>

<!-- RETAIL DEFIT -->

<table class="srvcs_form">
  <tr>
    <td class="label">First Name</td>
    <td class="field"><span class="required"></span>[text* first-name]</td>
  </tr>
  <tr>
    <td class="label">Last Name</td>
    <td class="field"><span class="required"></span>[text* last-name]</td>
  </tr>
  <tr>
    <td class="label">Email Address</td>
    <td class="field"><span class="required"></span>[email* email-address]</td>
  </tr>
  <tr>
    <td class="label">Phone Number</td>
    <td class="field"><span class="required"></span>[text* phone-number]</td>
  </tr>
  <tr>
    <td class="label">Company Name</td>
    <td class="field"><span class="required"></span>[text* company-name]</td>
  </tr>
  <tr>
    <td class="label">Unit Number / Building Name and Level</td>
    <td class="field"><span class="not_required"></span>[text unit-number-bldg-name]</td>
  </tr>
  <tr>
    <td class="label">Street Address</td>
    <td class="field"><span class="required"></span>[text* street-address]</td>
  </tr>
  <tr>
    <td class="label">City/Suburb</td>
    <td class="field"><span class="required"></span>[text* city-suburb]</td>
  </tr>
  <tr>
    <td class="label">State</td>
    <td class="field"><span class="required"></span>[select* state "NSW" "ACT" "VIC" "QLD" "SA" "WA" "NT" "TAS"]</td>
  </tr>
  <tr>
    <td class="label">Postcode</td>
    <td class="field"><span class="required"></span>[text* postcode]</td>
  </tr>
  <tr>
  <tr>
    <td class="label">Attach Purchase Order/Job number</td>
    <td class="file_upload_field"><span class="not_required"></span>[file attach-purchase-order]</td>
  </tr>
  <tr>
    <td class="label message_label">Message</td>
    <td class="field message_field" rowspan="2"><span class="not_required"></span>[textarea your-message]</td>
  </tr>
  <tr>
    <td class="label_indent">Please let us know your requirements, preferred date, booking time etc and we will contact you shortly.</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td class="form_submit">[submit "Send Form"]</td>
  </tr>
</table>

<!-- SITE HOARDING -->

<table class="srvcs_form">
  <tr>
    <td class="label">First Name</td>
    <td class="field"><span class="required"></span>[text* first-name]</td>
  </tr>
  <tr>
    <td class="label">Last Name</td>
    <td class="field"><span class="required"></span>[text* last-name]</td>
  </tr>
  <tr>
    <td class="label">Email Address</td>
    <td class="field"><span class="required"></span>[email* email-address]</td>
  </tr>
  <tr>
    <td class="label">Phone Number</td>
    <td class="field"><span class="required"></span>[text* phone-number]</td>
  </tr>
  <tr>
    <td class="label">Company Name</td>
    <td class="field"><span class="not_required"></span>[text company-name]</td>
  </tr>
  <tr>
    <td class="label">Unit Number / Building Name and Level</td>
    <td class="field"><span class="required"></span>[text unit-number-bldg-name]</td>
  </tr>
  <tr>
    <td class="label">Street Address</td>
    <td class="field"><span class="required"></span>[text* street-address]</td>
  </tr>
  <tr>
    <td class="label">City/Suburb</td>
    <td class="field"><span class="required"></span>[text* city-suburb]</td>
  </tr>
  <tr>
    <td class="label">State</td>
    <td class="field"><span class="required"></span>[select* state "NSW" "ACT" "VIC" "QLD" "SA" "WA" "NT" "TAS"]</td>
  </tr>
  <tr>
    <td class="label">Postcode</td>
    <td class="field"><span class="required"></span>[text* postcode]</td>
  </tr>
  <tr>
  <tr>
    <td class="label">Attach Purchase Order/Job number</td>
    <td class="file_upload_field"><span class="not_required"></span>[file attach-purchase-order]</td>
  </tr>
  <tr>
    <td class="label message_label">Message</td>
    <td class="field message_field" rowspan="2"><span class="not_required"></span>[textarea your-message]</td>
  </tr>
  <tr>
    <td class="label_indent">Please let us know your requirements, preferred date, booking time etc and we will contact you shortly.</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td class="form_submit">[submit "Send Form"]</td>
  </tr>
</table>

<!-- FIXTURE REMOVAL AND DELIVERY -->

<table class="srvcs_form">
	<tr>
    <td class="formsub" colspan="2"><h5>DETAILS</h5></td>
  </tr>
  <tr>
    <td class="label">First Name</td>
    <td class="field"><span class="required"></span>[text* first-name]</td>
  </tr>
  <tr>
    <td class="label">Last Name</td>
    <td class="field"><span class="required"></span>[text* last-name]</td>
  </tr>
  <tr>
    <td class="label">Email Address</td>
    <td class="field"><span class="required"></span>[email* email-address]</td>
  </tr>
  <tr>
    <td class="label">Phone Number</td>
    <td class="field"><span class="required"></span>[text* phone-number]</td>
  </tr>
  <tr>
    <td class="label">Company Name</td>
    <td class="field"><span class="required"></span>[text* company-name]</td>
  </tr>
  <tr>
    <td class="formsub" colspan="2"><h5>PICK UP ADDRESS</h5></td>
  </tr>
  <tr>
    <td class="label">Unit Number / Building Name and Level</td>
    <td class="field"><span class="not_required"></span>[text unit-number-bldg-name]</td>
  </tr>
  <tr>
    <td class="label">Street Address</td>
    <td class="field"><span class="required"></span>[text* street-address]</td>
  </tr>
  <tr>
    <td class="label">City/Suburb</td>
    <td class="field"><span class="required"></span>[text* city-suburb]</td>
  </tr>
  <tr>
    <td class="label">State</td>
    <td class="field"><span class="required"></span>[select* state "NSW" "ACT" "VIC" "QLD" "SA" "WA" "NT" "TAS"]</td>
  </tr>
  <tr>
    <td class="label">Postcode</td>
    <td class="field"><span class="required"></span>[text* postcode]</td>
  </tr>
  <tr>
    <td class="formsub" colspan="2"><h5>DELIVERY ADDRESS (if applicable)</h5></td>
  </tr>
  <tr>
    <td class="label">Unit Number / Building Name and Level</td>
    <td class="field"><span class="not_required"></span>[text unit-number-bldg-name]</td>
  </tr>
  <tr>
    <td class="label">Street Address</td>
    <td class="field"><span class="not_required"></span>[text street-address]</td>
  </tr>
  <tr>
    <td class="label">City/Suburb</td>
    <td class="field"><span class="not_required"></span>[text city-suburb]</td>
  </tr>
  <tr>
    <td class="label">State</td>
    <td class="field"><span class="not_required"></span>[select* state "NSW" "ACT" "VIC" "QLD" "SA" "WA" "NT" "TAS"]</td>
  </tr>
  <tr>
    <td class="label">Postcode</td>
    <td class="field"><span class="not_required"></span>[text postcode]</td>
  </tr>
  <tr>
    <td class="formsub" colspan="2"><h5>ADDITIONAL INFORMATION</h5></td>
  </tr>
  <tr>
    <td class="label">Attach Purchase Order/Job number</td>
    <td class="file_upload_field"><span class="not_required"></span>[file attach-purchase-order]</td>
  </tr>
  <tr>
    <td class="label message_label">Message</td>
    <td class="field message_field" rowspan="2"><span class="not_required"></span>[textarea your-message]</td>
  </tr>
  <tr>
    <td class="label_indent">Please let us know your requirements, preferred date, booking time etc and we will contact you shortly.</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td class="form_submit">[submit "Send Form"]</td>
  </tr>
</table>


<!-- RUBBISH REMOVAL -->

<table class="srvcs_form">
  <tr>
    <td class="label">First Name</td>
    <td class="field"><span class="required"></span>[text* first-name]</td>
  </tr>
  <tr>
    <td class="label">Last Name</td>
    <td class="field"><span class="required"></span>[text* last-name]</td>
  </tr>
  <tr>
    <td class="label">Email Address</td>
    <td class="field"><span class="required"></span>[email* email-address]</td>
  </tr>
  <tr>
    <td class="label">Phone Number</td>
    <td class="field"><span class="required"></span>[text* phone-number]</td>
  </tr>
  <tr>
    <td class="label">Company Name</td>
    <td class="field"><span class="required"></span>[text* company-name]</td>
  </tr>
  <tr>
    <td class="label">Unit Number / Building Name and Level</td>
    <td class="field"><span class="not_required"></span>[text unit-number-bldg-name]</td>
  </tr>
  <tr>
    <td class="label">Street Address</td>
    <td class="field"><span class="required"></span>[text* street-address]</td>
  </tr>
  <tr>
    <td class="label">City/Suburb</td>
    <td class="field"><span class="required"></span>[text* city-suburb]</td>
  </tr>
  <tr>
    <td class="label">State</td>
    <td class="field"><span class="required"></span>[select* state "NSW" "ACT" "VIC" "QLD" "SA" "WA" "NT" "TAS"]</td>
  </tr>
  <tr>
    <td class="label">Postcode</td>
    <td class="field"><span class="required"></span>[text* postcode]</td>
  </tr>
  <tr>
    <td class="label">Loading Dock#:</td>
    <td class="field"><span class="not_required"></span>[text loaddock-number]</td>
  </tr>
  <tr>
    <td class="label">How many cubic meters?</td>
    <td class="field"><span class="not_required"></span>[text cubicmeter-quest]</td>
  </tr>
  <tr>
    <td class="label">Attach Purchase Order/Job number</td>
    <td class="file_upload_field"><span class="not_required"></span>[file attach-purchase-order]</td>
  </tr>
  <tr>
    <td class="label message_label">Message</td>
    <td class="field message_field" rowspan="2"><span class="not_required"></span>[textarea your-message]</td>
  </tr>
  <tr>
    <td class="label_indent">Please let us know your requirements, preferred date, booking time etc and we will contact you shortly.</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td class="form_submit">[submit "Send Form"]</td>
  </tr>
</table>




















-----------------------------------------------------------------------------------

-----------------------------------------------------------------------------------

-----------------------------------------------------------------------------------

-------------------------------EMAIL OUTPUT FORMAT---------------------------------

-----------------------------------------------------------------------------------

-----------------------------------------------------------------------------------

-----------------------------------------------------------------------------------



<!-- GENERAL ENQUIRIES -->

From: [first-name][last-name] <[email-address]>
Subject: Contact Form - GENERAL ENQUIRIES
-------------------------------------------------------------


First Name:

[first-name]

-------------------------------------------------------------

Last Name:

[last-name]

-------------------------------------------------------------

Email Address:

[email-address]

-------------------------------------------------------------

Phone Number:

[phone-number]

-------------------------------------------------------------

Message:

[your-message]



-------------------------------------------------------------
This mail is sent via GENERAL ENQUIRIES contact form on That Retail Company http://thatretailcompany.com.au/




<!-- PROJECT MANAGEMENT -->

From: [first-name][last-name] <[email-address]>
Subject: Contact Form - Project Management
-------------------------------------------------------------

First Name: 

[first-name]

-------------------------------------------------------------

Last Name: 

[last-name]

-------------------------------------------------------------

Email Address: 

[email-address]

-------------------------------------------------------------

Store Name: 

[store-name]

-------------------------------------------------------------

Unit Number / Building Name and Level: 

[unit-number-bldg-name]

-------------------------------------------------------------

Street Address: 

[street-address]

-------------------------------------------------------------

City/Suburb: 

[city-suburb]

-------------------------------------------------------------

State: 

[state]

-------------------------------------------------------------

Postcode: 

[postcode]

-------------------------------------------------------------

Attach Purchase Order/Job number:

[attach-purchase-order]

-------------------------------------------------------------

Message:

[your-message]



-------------------------------------------------------------
This mail is sent via Project Management contact form on That Retail Company http://thatretailcompany.com.au/











<!-- RETAIL FITOUT -->

From: [first-name][last-name] <[email-address]>
Subject: Contact Form - RETAIL FITOUT
-------------------------------------------------------------

First Name:

[first-name]

-------------------------------------------------------------

Last Name:

[last-name]

-------------------------------------------------------------

Email Address:

[email-address]

-------------------------------------------------------------

Phone Number:

[phone-number]

-------------------------------------------------------------

Company Name:

[company-name]

-------------------------------------------------------------

Unit Number / Building Name and Level:

[unit-number-bldg-name]

-------------------------------------------------------------

Street Address:

[street-address]

-------------------------------------------------------------

City/Suburb:

[city-suburb]

-------------------------------------------------------------

State:

[state]

-------------------------------------------------------------

Postcode:

[postcode]

-------------------------------------------------------------

Attach Purchase Order/Job number:

[attach-purchase-order]

-------------------------------------------------------------

Message:

[your-message]


-------------------------------------------------------------
This mail is sent via RETAIL FITOUT contact form on That Retail Company http://thatretailcompany.com.au/




<!-- STORE MAINTENANCE -->

From: [first-name][last-name] <[email-address]>
Subject: Contact Form - STORE MAINTENANCE
-------------------------------------------------------------


First Name: 

[first-name]

-------------------------------------------------------------

Last Name: 

[last-name]

-------------------------------------------------------------

Email Address: 

[email-address]

-------------------------------------------------------------

Phone Number: 

[phone-number]

-------------------------------------------------------------

Company Name: 

[company-name]

-------------------------------------------------------------

Unit Number / Building Name and Level: 

[unit-number-bldg-name]

-------------------------------------------------------------

Street Address: 

[street-address]

-------------------------------------------------------------

City/Suburb: 

[city-suburb]

-------------------------------------------------------------

State: 

[state]

-------------------------------------------------------------

Postcode: 

[postcode]

-------------------------------------------------------------

Attach Purchase Order/Job number: 

[attach-purchase-order]

-------------------------------------------------------------

Message: 

[your-message]



-------------------------------------------------------------
This mail is sent via STORE MAINTENANCE contact form on That Retail Company http://thatretailcompany.com.au/



<!-- OFFICE FITOUT -->

From: [first-name][last-name] <[email-address]>
Subject: Contact Form - OFFICE FITOUT
-------------------------------------------------------------


First Name:

[first-name]

-------------------------------------------------------------

Last Name:

[last-name]

-------------------------------------------------------------

Email Address:

[email-address]

-------------------------------------------------------------

Phone Number:

[phone-number]

-------------------------------------------------------------

Company Name:

[company-name]

-------------------------------------------------------------

Unit Number / Building Name and Level:

[unit-number-bldg-name]

-------------------------------------------------------------

Street Address:

[street-address]

-------------------------------------------------------------

City/Suburb:

[city-suburb]

-------------------------------------------------------------

State:

[state]

-------------------------------------------------------------

Postcode:

[postcode]

-------------------------------------------------------------

Attach Purchase Order/Job number:

[attach-purchase-order]

-------------------------------------------------------------

Message:

[your-message]



-------------------------------------------------------------
This mail is sent via OFFICE FITOUT contact form on That Retail Company http://thatretailcompany.com.au/






<!-- RETAIL DEFIT -->

From: [first-name][last-name] <[email-address]>
Subject: Contact Form - RETAIL FITOUT
-------------------------------------------------------------

First Name:

[first-name]

-------------------------------------------------------------

Last Name:

[last-name]

-------------------------------------------------------------

Email Address:

[email-address]

-------------------------------------------------------------

Phone Number:

[phone-number]

-------------------------------------------------------------

Company Name:

[company-name]

-------------------------------------------------------------

Unit Number / Building Name and Level:

[unit-number-bldg-name]

-------------------------------------------------------------

Street Address:

[street-address]

-------------------------------------------------------------

City/Suburb:

[city-suburb]

-------------------------------------------------------------

State:

[state]

-------------------------------------------------------------

Postcode:

[postcode]

-------------------------------------------------------------

Attach Purchase Order/Job number:

[attach-purchase-order]

-------------------------------------------------------------

Message:

[your-message]




-------------------------------------------------------------
This mail is sent via Project Management contact form on That Retail Company http://thatretailcompany.com.au/





<!-- SITE HOARDING -->

From: [first-name][last-name] <[email-address]>
Subject: Contact Form - SITE HOARDING
-------------------------------------------------------------

First Name:

[first-name]

-------------------------------------------------------------

Last Name:

[last-name]

-------------------------------------------------------------

Email Address:

[email-address]

-------------------------------------------------------------

Phone Number:

[phone-number]

-------------------------------------------------------------

Company Name:

[company-name]

-------------------------------------------------------------

Unit Number / Building Name and Level:

[unit-number-bldg-name]

-------------------------------------------------------------

Street Address:

[street-address]

-------------------------------------------------------------

City/Suburb

[city-suburb]

-------------------------------------------------------------

State

[state]

-------------------------------------------------------------

Postcode

[postcode]

-------------------------------------------------------------

Attach Purchase Order/Job number

[attach-purchase-order]

-------------------------------------------------------------

Message

[your-message]



-------------------------------------------------------------
This mail is sent via SITE HOARDING contact form on That Retail Company http://thatretailcompany.com.au/







<!-- FIXTURE REMOVAL AND DELIVERY -->

From: [first-name][last-name] <[email-address]>
Subject: Contact Form - FIXTURE REMOVAL AND DELIVERY
-------------------------------------------------------------

First Name

[first-name]

-------------------------------------------------------------

Last Name

[last-name]

-------------------------------------------------------------

Email Address

[email-address]

-------------------------------------------------------------

Phone Number

[phone-number]

-------------------------------------------------------------

Company Name

[company-name]

-------------------------------------------------------------




/////////// PICK UP ADDRESS ///////////


Unit Number / Building Name and Level

[unit-number-bldg-name]

-------------------------------------------------------------

Street Address

[street-address]

-------------------------------------------------------------

City/Suburb

[city-suburb]

-------------------------------------------------------------

State

[state]

-------------------------------------------------------------

Postcode

[postcode]

-------------------------------------------------------------




/////////// DELIVERY ADDRESS (if applicable) ///////////



Unit Number / Building Name and Level

[unit-number-bldg-name]

-------------------------------------------------------------

Street Address

[street-address]

-------------------------------------------------------------

City/Suburb

[city-suburb]

-------------------------------------------------------------

State

[state]

-------------------------------------------------------------

Postcode

[postcode]

-------------------------------------------------------------




/////////// ADDITIONAL INFORMATION ///////////


Attach Purchase Order/Job number:

[attach-purchase-order]

-------------------------------------------------------------

Message:

[your-message]



-------------------------------------------------------------
This mail is sent via FIXTURE REMOVAL AND DELIVERY contact form on That Retail Company http://thatretailcompany.com.au/





<!-- RUBBISH REMOVAL -->

From: [first-name][last-name] <[email-address]>
Subject: Contact Form - RUBBISH REMOVAL
-------------------------------------------------------------


First Name:

[first-name]

-------------------------------------------------------------

Last Name:

[last-name]

-------------------------------------------------------------

Email Address:

[email-address]

-------------------------------------------------------------

Phone Number:

[phone-number]

-------------------------------------------------------------

Company Name:

[company-name]

-------------------------------------------------------------

Unit Number / Building Name and Level:

[unit-number-bldg-name]

-------------------------------------------------------------

Street Address:

[street-address]

-------------------------------------------------------------

City/Suburb:

[city-suburb]

-------------------------------------------------------------

State:

[state]

-------------------------------------------------------------

Postcode:

[postcode]

-------------------------------------------------------------

Loading Dock#:

[loaddock-number]

-------------------------------------------------------------

How many cubic meters?

[cubicmeter-quest]

-------------------------------------------------------------

Attach Purchase Order/Job number:

[attach-purchase-order]

-------------------------------------------------------------

Message:

[your-message]



-------------------------------------------------------------
This mail is sent via RUBBISH REMOVAL contact form on That Retail Company http://thatretailcompany.com.au/




